# Python
.venv/
__pycache__/

# Data
acne04/
data/

# Outputs
gradcam_results/
dermnet_results/
outputs/
runs/

# Models
models/
*.pth

# System
.DS_Store

# Optional: ignore only generated images (not all images)
gradcam_results/*.jpg
outputs/*.png